In [1]:
import data_fix as dfix
import data_utils_g1 as du
import matplotlib.pyplot as plt
dfix.init()
data = dfix.scrub_txt_file()

Replacing all special characters for clean read
Asking for cleaned data file save location
Printing save location:
/Users/Arcpolar/Documents/GitHub/2022-msaai-500-final-project/data/BLUtest1.txt
/Users/Arcpolar/Documents/GitHub/2022-msaai-500-final-project/data/BLUtest1_final.csv

In [2]:
data

,ID,Price,Levy,Manufacturer,Model,Prod_year,Category,Leather_interior,Fuel_type,Engine_volume,Turbo,Mileage,Cylinders,Gear_box_type,Drive_wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,,186005,6,Automatic,Front-Rear,4-5,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,EQUINOX,2011,Jeep,No,Petrol,3,,192000,6,Tiptronic,Front-Rear,4-5,Left wheel,Black,8
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,,200000,4,Variator,Front,4-5,Right-hand drive,Black,2
3,45769185,3607,862,FORD,ESCAPE,2011,Jeep,Yes,Hybrid,2.5,,168966,4,Automatic,Front-Rear,4-5,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,,91901,4,Automatic,Front,4-5,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,0,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0,Turbo,300000,4,Manual,Rear,2-3,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,SONATA,2011,Sedan,Yes,Petrol,2.4,,161600,4,Tiptronic,Front,4-5,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,TUCSON,2010,Jeep,Yes,Diesel,2,,116365,4,Automatic,Front,4-5,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,CAPTIVA,2007,Jeep,Yes,Diesel,2,,51258,4,Automatic,Front,4-5,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,SONATA,2012,Sedan,Yes,Hybrid,2.4,,186923,4,Automatic,Front,4-5,Left wheel,White,12

In [3]:
print(data.Category.unique())

['Jeep' 'Hatchback' 'Sedan' 'Microbus' 'Goods wagon' 'Universal' 'Coupe'
 'Minivan' 'Cabriolet' 'Limousine' 'Pickup']

In [9]:
import pandas as pd
import numpy as np
category = data.Category
pd.get_dummies(category)

,Cabriolet,Coupe,Goods wagon,Hatchback,Jeep,Limousine,Microbus,Minivan,Pickup,Sedan,Universal
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
19232,0,1,0,0,0,0,0,0,0,0,0
19233,0,0,0,0,0,0,0,0,0,1,0
19234,0,0,0,0,1,0,0,0,0,0,0
19235,0,0,0,0,1,0,0,0,0,0,0
19236,0,0,0,0,0,0,0,0,0,1,0

In [10]:
pd.get_dummies(data, columns=["Category"])

,ID,Price,Levy,Manufacturer,Model,Prod_year,Leather_interior,Fuel_type,Engine_volume,Turbo,...,Category_Coupe,Category_Goods wagon,Category_Hatchback,Category_Jeep,Category_Limousine,Category_Microbus,Category_Minivan,Category_Pickup,Category_Sedan,Category_Universal
0,45654403,13328,1399,LEXUS,RX 450,2010,Yes,Hybrid,3.5,,...,0,0,0,1,0,0,0,0,0,0
1,44731507,16621,1018,CHEVROLET,EQUINOX,2011,No,Petrol,3,,...,0,0,0,1,0,0,0,0,0,0
2,45774419,8467,0,HONDA,FIT,2006,No,Petrol,1.3,,...,0,0,1,0,0,0,0,0,0,0
3,45769185,3607,862,FORD,ESCAPE,2011,Yes,Hybrid,2.5,,...,0,0,0,1,0,0,0,0,0,0
4,45809263,11726,446,HONDA,FIT,2014,Yes,Petrol,1.3,,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,0,MERCEDES-BENZ,CLK 200,1999,Yes,CNG,2.0,Turbo,...,1,0,0,0,0,0,0,0,0,0
19233,45778856,15681,831,HYUNDAI,SONATA,2011,Yes,Petrol,2.4,,...,0,0,0,0,0,0,0,0,1,0
19234,45804997,26108,836,HYUNDAI,TUCSON,2010,Yes,Diesel,2,,...,0,0,0,1,0,0,0,0,0,0
19235,45793526,5331,1288,CHEVROLET,CAPTIVA,2007,Yes,Diesel,2,,...,0,0,0,1,0,0,0,0,0,0
19236,45813273,470,753,HYUNDAI,SONATA,2012,Yes,Hybrid,2.4,,...,0,0,0,0,0,0,0,0,1,0

In [11]:
fuel_type = data.Fuel_type
pd.get_dummies(fuel_type)

       CNG  Diesel  Hybrid  Hydrogen  LPG  Petrol  Plug-in Hybrid
0        0       0       1         0    0       0               0
1        0       0       0         0    0       1               0
2        0       0       0         0    0       1               0
3        0       0       1         0    0       0               0
4        0       0       0         0    0       1               0
...    ...     ...     ...       ...  ...     ...             ...
19232    1       0       0         0    0       0               0
19233    0       0       0         0    0       1               0
19234    0       1       0         0    0       0               0
19235    0       1       0         0    0       0               0
19236    0       0       1         0    0       0               0

[19237 rows x 7 columns]

In [12]:
pd.get_dummies(data, columns=["Fuel_type"])

,ID,Price,Levy,Manufacturer,Model,Prod_year,Category,Leather_interior,Engine_volume,Turbo,...,Wheel,Color,Airbags,Fuel_type_CNG,Fuel_type_Diesel,Fuel_type_Hybrid,Fuel_type_Hydrogen,Fuel_type_LPG,Fuel_type_Petrol,Fuel_type_Plug-in Hybrid
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,3.5,,...,Left wheel,Silver,12,0,0,1,0,0,0,0
1,44731507,16621,1018,CHEVROLET,EQUINOX,2011,Jeep,No,3,,...,Left wheel,Black,8,0,0,0,0,0,1,0
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,No,1.3,,...,Right-hand drive,Black,2,0,0,0,0,0,1,0
3,45769185,3607,862,FORD,ESCAPE,2011,Jeep,Yes,2.5,,...,Left wheel,White,0,0,0,1,0,0,0,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,1.3,,...,Left wheel,Silver,4,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,0,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,2.0,Turbo,...,Left wheel,Silver,5,1,0,0,0,0,0,0
19233,45778856,15681,831,HYUNDAI,SONATA,2011,Sedan,Yes,2.4,,...,Left wheel,Red,8,0,0,0,0,0,1,0
19234,45804997,26108,836,HYUNDAI,TUCSON,2010,Jeep,Yes,2,,...,Left wheel,Grey,4,0,1,0,0,0,0,0
19235,45793526,5331,1288,CHEVROLET,CAPTIVA,2007,Jeep,Yes,2,,...,Left wheel,Black,4,0,1,0,0,0,0,0
19236,45813273,470,753,HYUNDAI,SONATA,2012,Sedan,Yes,2.4,,...,Left wheel,White,12,0,0,1,0,0,0,0

In [13]:
pd.get_dummies(data, columns=["Fuel_type"], drop_first = True)

,ID,Price,Levy,Manufacturer,Model,Prod_year,Category,Leather_interior,Engine_volume,Turbo,...,Doors,Wheel,Color,Airbags,Fuel_type_Diesel,Fuel_type_Hybrid,Fuel_type_Hydrogen,Fuel_type_LPG,Fuel_type_Petrol,Fuel_type_Plug-in Hybrid
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,3.5,,...,4-5,Left wheel,Silver,12,0,1,0,0,0,0
1,44731507,16621,1018,CHEVROLET,EQUINOX,2011,Jeep,No,3,,...,4-5,Left wheel,Black,8,0,0,0,0,1,0
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,No,1.3,,...,4-5,Right-hand drive,Black,2,0,0,0,0,1,0
3,45769185,3607,862,FORD,ESCAPE,2011,Jeep,Yes,2.5,,...,4-5,Left wheel,White,0,0,1,0,0,0,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,1.3,,...,4-5,Left wheel,Silver,4,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,0,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,2.0,Turbo,...,2-3,Left wheel,Silver,5,0,0,0,0,0,0
19233,45778856,15681,831,HYUNDAI,SONATA,2011,Sedan,Yes,2.4,,...,4-5,Left wheel,Red,8,0,0,0,0,1,0
19234,45804997,26108,836,HYUNDAI,TUCSON,2010,Jeep,Yes,2,,...,4-5,Left wheel,Grey,4,1,0,0,0,0,0
19235,45793526,5331,1288,CHEVROLET,CAPTIVA,2007,Jeep,Yes,2,,...,4-5,Left wheel,Black,4,1,0,0,0,0,0
19236,45813273,470,753,HYUNDAI,SONATA,2012,Sedan,Yes,2.4,,...,4-5,Left wheel,White,12,0,1,0,0,0,0